<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<h2>Sign up</h2>
=======
=======
>>>>>>> mehmed
=======
>>>>>>> Connor
=======
>>>>>>> chris
<background>
<div class="col-sm-6 col-sm-offset-5" style= "margin-left: 35%; margin-right: 100%; margin-top: 100px;">
    <h4><%= t('.sign_up', default: 'Sign up') %></h4>
<div class="panel panel-default" style="width: 400px ; height : 600px" >
  
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> Thilina
=======
>>>>>>> mehmed
=======
>>>>>>> Connor
=======
>>>>>>> chris


  <div class="panel-body" >
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
      
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
      
      
      <div class="form-group">
        <%= f.label :first_name  %>
        <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :last_name  %>
        <%= f.text_field :last_name, autofocus: true, class: 'form-control' %>
      </div>
      
      
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      
      
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      
      
      <%= f.submit t('.sign_up', default: 'Sign up'), class: 'btn btn-primary' %>
      
      <%= render 'devise/shared/links' %>
    <% end %>
  </div>
</div>
</div>
    
</background>


<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<%= render "devise/shared/links" %>
=======
<background>
<div class="col-sm-6 col-sm-offset-5" style= "margin-left: 35%; margin-right: 100%; margin-top: 100px;">
    <h4><%= t('.sign_up', default: 'Sign up') %></h4>
<div class="panel panel-default" style="width: 400px ; height : 600px" >
  


  <div class="panel-body" >
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
      
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
      
      
      <div class="form-group">
        <%= f.label :first_name  %>
        <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :last_name  %>
        <%= f.text_field :last_name, autofocus: true, class: 'form-control' %>
      </div>
      
      
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      
      
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      
      
      <%= f.submit t('.sign_up', default: 'Sign up'), class: 'btn btn-primary' %>
      
      <%= render 'devise/shared/links' %>
    <% end %>
  </div>
</div>
</div>
    
</background>


>>>>>>> MeryemKoken
=======
>>>>>>> Thilina
=======
>>>>>>> mehmed
=======
>>>>>>> Connor
=======
>>>>>>> chris
