<%= video_tag "vid-bg.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video", poster: "vid-poster.png" %>
<div class="col-sm-6 col-sm-offset-5" style= "margin-left: 35%; margin-right: 100%; margin-top: 100px;">
<div class="panel panel-default" style="width: 400px ; height : 100%" >
<div class="panel-body" >
<%= form_with(model: booking, local: true) do |form| %>
    <h1>Make Booking</h1>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="panel-body" >
     *Booking will start 15 minutes from time of creation*
  <div class="form-group">
     <%= form.label "Car Name:" %>
         <div id = "car_name">
    <%= form.collection_select(:car_id, Car.where(:status => "Available"), :id, :name, {:id => 'car_name'} )%>
      </div>
  
</div>

  <div class="form-group">  
<%= form.label "Duration" %>
     
         <div id = "end_time">
<select name="post[end_time]" >
  <option value= "15" >15 Minutes</option>
  <option value= "30" >30 Minutes</option>
  <option value= "45" >45 Minutes</option>
  <option value= "60" >60 Minutes</option>
</select>
          </div>
    </div>
     </div>
     


 <%= form.submit %>
      </div>
    </div>
   
</div>

   


<% end %>


