<<<<<<< HEAD
<<<<<<< HEAD
<h1>New Booking</h1>

<%= render 'form', booking: @booking %>

<%= link_to 'Back', bookings_path %>
=======
<text><h1>New Booking</h1></text>

<%= render 'form', booking: @booking %>

<text><%= link_to 'Back', bookings_path %></text>
>>>>>>> mehmed
=======
<text><h1>New Booking</h1></text>
<text>*Booking will start 15 minutes from time of creation*</text>
<%= render 'form', booking: @booking %>

<text><%= link_to 'Back', bookings_path %></text>
>>>>>>> Thilina
