<<<<<<< HEAD
<% if user_signed_in? %>
      <% if current_user.try(:admin?) %>
        <text><h1>New Booking</h1></text>
        <text>*Booking will start 15 minutes from time of creation*</text>
        <%= render 'form', booking: @booking %>

        <text><%= link_to 'Back', bookings_path %></text>
        
        <% else %>
        <text><h1>New Booking</h1></text>
        <text>*Booking will start 15 minutes from time of creation*</text>
        <%= render 'form', booking: @booking %>

        <text><%= link_to 'Back', bookings_path %></text>
        <%end%>
        
<%else%>

<%end%>
=======
<% if user_signed_in? %>
      <% if current_user.try(:admin?) %>
        
       
        <%= render 'form', booking: @booking %>

        <text><%= link_to 'Back', bookings_path %></text>
        
        <% else %>

        <%= render 'form', booking: @booking %>

       
        <%end%>
        
<%else%>

<%end%>
>>>>>>> Thilina
