<% if user_signed_in? %>
      <% if current_user.try(:admin?) %>
<%= video_tag "vid-bg.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video", poster: "vid-poster.png" %>
<p id="notice"><%= notice %></p>
<text>
<h1>Booking <%= @booking.id %></h1>
<table class="table table-condensed">
    <thead>
        <tr>
        <th>Car:</th>
        <th>Pick Up/Drop Off Location</th>
        <th>User ID</th>
        <th>User Email</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Price</th>
        <th>Paid</th>    
        </tr>
    </thead>
    
<tbody>
    <tr>
        <td><%= @booking.car.name %></td>
        <td><%= @booking.car.current_address %></td>
        <td><%= @booking.user.id %></td>
        <td><%= @booking.user.email %></td>
        <td><%= @booking.start_time.to_formatted_s(:short) %></td>
        <td><%= @booking.end_time.to_formatted_s(:short) %></td>
        <td>$<%= @booking.price %>0</td>
        <td><%= @booking.paid %></td>
    </tr>
    
</tbody>

</table>
 </text>

   <td><%= link_to '<button type="button" class="btn btn-dark"">Back</button>'.html_safe, bookings_path %>

<%else%>
<%= video_tag "vid-bg.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video", poster: "vid-poster.png" %>
<p id="notice"><%= notice %></p>
<text>
<h1>Your Booking</h1>
<table class="table table-condensed">
    <thead>
        <tr>
        <th>Car:</th>
        <th>Pick Up/Drop Off Location</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Price</th>
        </tr>
    </thead>
    
<tbody>
    <tr>
        <td><%= @booking.car.name %></td>
        <td><%= @booking.car.current_address %></td>
        <td><%= @booking.start_time.to_formatted_s(:short) %></td>
        <td><%= @booking.end_time.to_formatted_s(:short) %></td>
        <td>$<%= @booking.price %>0</td>
    </tr>
    
</tbody>

</table>
 </text>
<% if @booking.paid? %>
  
<% else %>
<%= render 'shared/card_and_charge_form', product: @product %>
<!--<%= link_to "Checkout" , @booking.paypal_url(bookings_path) %>-->
<div id="paypal-button"></div>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
  paypal.Button.render({
    // Configure environment
    env: 'sandbox',
    client: {
      sandbox: 'demo_sandbox_client_id',
    },
    // Customize button (optional)
    locale: 'en_US',
    style: {
      size: 'small',
      color: 'gold',
      shape: 'pill',
    },
    // Set up a payment
    payment: function(data, actions) {
      return actions.payment.create({
        transactions: [{
          amount: {
            total: "<%= @booking.price %>",
            currency: 'AUD'
          }
        }]
      });
    },
    // Execute the payment
    onAuthorize: function(data, actions) {
      return actions.payment.execute().then(function() {
        // Show a confirmation message to the buyer
        window.alert('Payment was successful');
      });
    }
  }, '#paypal-button');

</script>
       
 
 

<% end %>
<%= link_to 'Back', bookings_path %>
<%end%>

<%else%>

<%end%>

