<<<<<<< HEAD
<<<<<<< HEAD
<p id="notice"><%= notice %></p>

=======
<%= video_tag "vid-bg.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video", poster: "vid-poster.png" %>
<p id="notice"><%= notice %></p>
<text>
>>>>>>> mehmed
<h1>Your Booking</h1>
<table class="table table-condensed">
    <thead>
        <tr>
        <th>Car:</th>
        <th>Pick Up/Drop Off Location</th>
        <th>Start Time</th>
        <th>End Time</th>
        </tr>
    </thead>
    
<tbody>
    <tr>
        <td><%= @booking.car.name %></td>
        <td><%= @booking.car.current_address %></td>
        <td><%= @booking.start_time %></td>
        <td><%= @booking.end_time %></td>
    </tr>
    
</tbody>

</table>
 
  


<<<<<<< HEAD
<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>


=======
<%= link_to 'Back', bookings_path %>
</text>
>>>>>>> mehmed
=======
<%= video_tag "vid-bg.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video", poster: "vid-poster.png" %>
<p id="notice"><%= notice %></p>
<text>
<h1>Your Booking</h1>
<table class="table table-condensed">
    <thead>
        <tr>
        <th>Car:</th>
        <th>Pick Up/Drop Off Location</th>
        <th>Start Time</th>
        <th>End Time</th>
        </tr>
    </thead>
    
<tbody>
    <tr>
        <td><%= @booking.car.name %></td>
        <td><%= @booking.car.current_address %></td>
        <td><%= @booking.start_time %></td>
        <td><%= @booking.end_time %></td>
    </tr>
    
</tbody>

</table>
 
  


<%= link_to 'Back', bookings_path %>
</text>
>>>>>>> Thilina
