<p id="notice"><%= notice %></p>

<<<<<<< HEAD

=======
<h1>Your Booking</h1>
>>>>>>> Connor

<p>
  <strong>Car:</strong>
  <%= @booking.car.name %>
</p>

<p>
<<<<<<< HEAD
=======
  <strong>Pick Up/ Drop Off Location:</strong>
  <%= @booking.car.current_address %>
</p>

<p>
>>>>>>> Connor
  <strong>Start time:</strong>
  <%= @booking.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @booking.end_time %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
