<<<<<<< HEAD
<<<<<<< HEAD
<h2>Log in</h2>

=======
<background>
<div class="col-sm-6 col-sm-offset-5" style= "margin-left: 35%; margin-right: 100%; margin-top: 100px;">
    <h4><%= t('.sign_up', default: 'Login') %></h4>
<div class="panel panel-default" style="width: 400px ; height : 300px" >
  


  <div class="panel-body" >
>>>>>>> MeryemKoken
=======
<background>
<div class="col-sm-6 col-sm-offset-5" style= "margin-left: 35%; margin-right: 100%; margin-top: 100px;">
    <h4><%= t('.sign_up', default: 'Login') %></h4>
<div class="panel panel-default" style="width: 400px ; height : 300px" >
  


  <div class="panel-body" >
>>>>>>> Thilina
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<<<<<<< HEAD
<<<<<<< HEAD
<%= render "devise/shared/links" %>
=======
=======
>>>>>>> Thilina
<div id = "outer">
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <div id = "inner"><%= link_to "Login with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider ), :class => 'btn btn-primary' %></div>
  <% end -%>
<% end -%>
</div>
      
    </div>
    </div>
    </div>
</background>
<<<<<<< HEAD
>>>>>>> MeryemKoken
=======
>>>>>>> Thilina
