<<<<<<< HEAD
<h1>Editing Car</h1>

<%= render 'form', car: @car %>

<%= link_to 'Show', @car %> |
<%= link_to 'Back', cars_path %>
=======
<text><h1>Edit Car Details</h1></text>

<%= render 'form', car: @car %>


<td><%= link_to '<button type="button" class="btn btn-dark"">Back   </button>'.html_safe,  cars_path %>
>>>>>>> chris
