<<<<<<< HEAD

<p id="notice"><%= notice %></p>

=======
<<<<<<< HEAD
<p id="notice"><%= notice %></p>

<h1>Cars</h1>
=======

<p id="notice"><%= notice %></p>

>>>>>>> fbfddd8a571c58d4ee3d7636d49d397bdc26d1dc
 <div class = "jumbotron">

        <h1 class="display-3">Available Cars</h1>
    </div>
<<<<<<< HEAD
=======
>>>>>>> chris
>>>>>>> fbfddd8a571c58d4ee3d7636d49d397bdc26d1dc

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Make</th>
      <th>Model</th>
      <th>Number plate</th>
      <th>Color</th>
      <th>Seat count</th>
      <th>Current address</th>
      <th>status</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.name %></td>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= car.number_plate %></td>
        <td><%= car.color %></td>
        <td><%= car.seat_count %></td>
        <td><%= car.current_address %></td>
       <td><%= car.status %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<<<<<<< HEAD

=======
<<<<<<< HEAD
<%= link_to 'New Car', new_car_path %>
=======

>>>>>>> chris
>>>>>>> fbfddd8a571c58d4ee3d7636d49d397bdc26d1dc

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type = "text/javascript">
    handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      disableDefaultUI: true
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'map'
    }
  },
  function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
);
</script>
<<<<<<< HEAD

    

=======
<<<<<<< HEAD
=======

    

>>>>>>> chris
>>>>>>> fbfddd8a571c58d4ee3d7636d49d397bdc26d1dc
