<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>



 <% if user_signed_in? %>
      <% if current_user.try(:admin?) %>
  <%= video_tag "vid-bg.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video", poster: "vid-poster.png" %> 

<text>
        <h1 class="display-3">All Cars</h1>
    

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Make</th>
      <th>Model</th>
      <th>Number plate</th>
      <th>Color</th>
      <th>Seat count</th>
      <th>Current address</th>
      <th>status</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admincars.each do |car| %>
      <tr>
        <td><%= car.name %></td>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= car.number_plate %></td>
        <td><%= car.color %></td>
        <td><%= car.seat_count %></td>
        <td><%= car.current_address %></td>
        <td><%= car.status %></td>
        <td><%= link_to '<button type="button" class="btn btn-dark"">More Info</button>'.html_safe, car %></td>
        <td><%= link_to '<button type="button" class="btn btn-dark"">Edit</button>'.html_safe, edit_car_path(car) %></td>
        <td><%= link_to '<button type="button" class="btn btn-dark"">Reitre</button>'.html_safe, car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
</text>

<!--
        <%= video_tag "vid-bg.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video", poster: "vid-poster.png" %> 

        <%= image_tag("youRide logo-wsymbol.png", :size => "250x250", :class => "center-block") %>

        <landing-text><h1>Admin Section</h1></landing-text>
<text>
    <div id = "button-inline">
        <div id = "button-center"> <%= link_to '<button type="button" class ="btn btn-default">Avaliable Cars</button>'.html_safe, cars_path %></div>
        
        <div id = "button-center"> <%= link_to '<button type="button" class ="btn btn-default">Make Booking</button>'.html_safe, new_booking_path %></div>
            
        <div id = "button-center"> <%= link_to '<button type="button" class ="btn btn-default">Previous Bookings</button>'.html_safe, bookings_path %></div>
        
</div>
<text>
        <text>
 
-->

 

<% else  %>
 <%= video_tag "vid-bg.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video", poster: "vid-poster.png" %>

 <%= image_tag("youRide logo-wsymbol.png", :size => "250x250", :class => "center-block") %>

<landing-text><h1>Melbourne's premier car sharing service</h1></landing-text>
<text>
 

 <div id="container">

        <div id="sidebar">
            <ul>
                
                    <a>
                        <div style="text-align:center;vertical-align:middle;height:100%;">
                            <button type="button" class="btn btn-default btn-sm" id="cars" href="#" style="position: absolute; top: 90% , left: 80% ;">Check Avaliable Cars
                             <span class="glyphicon glyphicon-arrow-down"></span></button>
                        </div>
                    </a>
                 
            </ul>
    </div>

    
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


  
<h1 class="display-3">Available Cars</h1>
    

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Make</th>
      <th>Model</th>
      <th>Number plate</th>
      <th>Color</th>
      <th>Seat count</th>
      <th>Current address</th>
      <th>status</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.name %></td>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= car.number_plate %></td>
        <td><%= car.color %></td>
        <td><%= car.seat_count %></td>
        <td><%= car.current_address %></td>
        <td><%= car.status %></td>
        <td><%= link_to '<button type="button" class="btn btn-dark"">More Info</button>'.html_safe, car%></td>
       
    <% end %>
  </tbody>
</table>
    </div>
</text>
   
<br>

 
<div id='userInfo'></div>

<div style='width: 800px;'>

  <div id="map" style='width: 168.5%; height: 400px;'></div>
</div>


<%end%>

<% else %>

<%= video_tag "vid-bg.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video", poster: "vid-poster.png" %>

 <%= image_tag("youRide logo-wsymbol.png", :size => "250x250", :class => "center-block") %>

<landing-text><h1>Melbourne's premier car sharing service</h1></landing-text>
<text>
 

 <div id="container">

        <div id="sidebar">
            <ul>
                
                    <a>
                        <div style="text-align:center;vertical-align:middle;height:100%;">
                            <button type="button" class="btn btn-default btn-sm" id="cars" href="#" style="position: absolute; top: 90% , left: 80% ;">Check Avaliable Cars
                             <span class="glyphicon glyphicon-arrow-down"></span></button>
                        </div>
                    </a>
                 
            </ul>
    </div>

    
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

  
<h1 class="display-3">Available Cars</h1>
    

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Make</th>
      <th>Model</th>
      <th>Number plate</th>
      <th>Color</th>
      <th>Seat count</th>
      <th>Current address</th>
      <th>status</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.name %></td>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= car.number_plate %></td>
        <td><%= car.color %></td>
        <td><%= car.seat_count %></td>
        <td><%= car.current_address %></td>
       <td><%= car.status %></td>
        <td><%= link_to '<button type="button" class="btn btn-dark"">More Info</button>'.html_safe, car %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
</text>
   
<br>

 
<div id='userInfo'></div>

<div style='width: 800px;'>

  <div id="map" style='width: 168.5%; height: 400px;'></div>
</div>




<% end %>

<script type = "text/javascript">
    x = document.getElementById('userInfo');
    
    
    
    
    
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser";
        }
    }
    
    function showPosition(position) {
        const userLat =  position.coords.latitude;
        const userLng =  position.coords.longitude;
       // x.innerHTML = "Latitiude: " + userLat +
          //  "<br>Longitude: " + userLng;
        
    handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      disableDefaultUI: false
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'map'
    }
  },
  function(){
    const markersArr = <%= raw @hash.to_json %>;
    const carDistancesFromUser = markersArr.map(c => {
        return google.maps.geometry.spherical.computeDistanceBetween(
            new google.maps.LatLng(userLat, userLng),
            new google.maps.LatLng(c.lat, c.lng)
        )
    });
    const closestDistance = Math.min(...carDistancesFromUser);
    const closestCar = markersArr[carDistancesFromUser.indexOf(closestDistance)]
    x.innerHTML = "<text><h1>Closest Car to you is " + closestCar.infowindow.toUpperCase() + " at " + (closestDistance/1000).toFixed(2) + "km away</h1><text>"
    markersArr.push({lat: userLat, lng: userLng, infowindow: 'User', picture:{ url: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=|000000|000000' , width:75 , height: 75}});
    markers = handler.addMarkers(markersArr);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
);        
    }
    
    getLocation();
    
    
 function goToByScroll(id){
          // Reove "link" from the ID
        id = id.replace("link", "");
          // Scroll
        $('html,body').animate({
            scrollTop:$(document).height() },
            'slow');
    }

    $("#sidebar > ul  > a > div > button").click(function(e) { 
          // Prevent a page reload when a link is pressed
        e.preventDefault(); 
          // Call the scroll function
        goToByScroll($(this).attr("id"));           
    });
    
</script>



