<p id="notice"><%= notice %></p>
    <% if user_signed_in? %>
        <% if current_user.try(:admin?) %>
            <p>
                <strong>Name:</strong>
                    <%= @car.name %>
            </p>

            <p>
                <strong>Make:</strong>
                    <%= @car.make %>
            </p>

            <p>
                <strong>Model:</strong>
                    <%= @car.model %>
            </p>

            <p>
                <strong>Number plate:</strong>
                    <%= @car.number_plate %>
            </p>

            <p>
                <strong>Color:</strong>
                    <%= @car.color %>
            </p>

            <p>
                <strong>Seat count:</strong>
                    <%= @car.seat_count %>
            </p>

            <p>
                <strong>Current address:</strong>
                    <%= @car.current_address %>
            </p>

            <p>
                <strong>Latitude:</strong>
                    <%= @car.latitude %>
            </p>

            <p>
                <strong>Longitude:</strong>
                    <%= @car.longitude %>
            </p>

            <p>
                <strong>Longitude:</strong>
                    <%= @car.status %>
            </p>

                <%= image_tag @car.image.url %>

                <%= link_to 'Edit', edit_car_path(@car) %> |
                <%= link_to 'Back', cars_path %>

    <%else%>
             <p>
                <strong>Name:</strong>
                    <%= @car.name %>
            </p>

            <p>
                <strong>Make:</strong>
                    <%= @car.make %>
            </p>

            <p>
                <strong>Model:</strong>
                    <%= @car.model %>
            </p>

            <p>
                <strong>Number plate:</strong>
                    <%= @car.number_plate %>
            </p>

            <p>
                <strong>Color:</strong>
                    <%= @car.color %>
            </p>

            <p>
                <strong>Seat count:</strong>
                    <%= @car.seat_count %>
            </p>

            <p>
                <strong>Current address:</strong>
                    <%= @car.current_address %>
            </p>


            <p>
                <strong>Longitude:</strong>
                    <%= @car.status %>
            </p>

                <%= image_tag @car.image.url %>

                <%= link_to 'Edit', edit_car_path(@car) %> |
                <%= link_to 'Back', cars_path %>

        <%end%>

    <%else%>


 <p>
                <strong>Name:</strong>
                    <%= @car.name %>
            </p>

            <p>
                <strong>Make:</strong>
                    <%= @car.make %>
            </p>

            <p>
                <strong>Model:</strong>
                    <%= @car.model %>
            </p>

            <p>
                <strong>Number plate:</strong>
                    <%= @car.number_plate %>
            </p>

            <p>
                <strong>Color:</strong>
                    <%= @car.color %>
            </p>

            <p>
                <strong>Seat count:</strong>
                    <%= @car.seat_count %>
            </p>

            <p>
                <strong>Current address:</strong>
                    <%= @car.current_address %>
            </p>


            <p>
                <strong>Longitude:</strong>
                    <%= @car.status %>
            </p>

                <%= image_tag @car.image.url %>

                <%= link_to 'Edit', edit_car_path(@car) %> |
                <%= link_to 'Back', cars_path %>

<%end%>

